<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Bienvenido al Proyecto <%= title %></h3>
    <p> Autor Luis Marin </p>
    <img src="IMG_20140630_214042.jpg" id="imagen">
    <p><a href="/quizes">Comience a jugar</a></p>
  </body>
</html>
