<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Bienvenido al Proyecto </h3>
    <p> Estadisticas </p> <br>
    <p> Total Preguntas: <%= newcount %> </p> <br>
    <p> Total Comentarios:  <%= comentariosx %> </p> <br>
    <p> Total Preguntas Sin Comentarios: <%= sincomentariosx %>  </p> <br>

    <p><a href="/quizes">Comience a jugar</a></p>
  </body>
</html>
