<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Bienvenido al Proyecto </h3>
    <p> Estadisticas </p> <br>
    <%= newcount %>
    <p><a href="/quizes">Comience a jugar</a></p>
  </body>
</html>
